button:hover {
    transform: scale(1.05);
}

.profile-img-container {
transition: transform 0.3s ease;
}

.profile-img-container:hover {
    transform: scale(1.1);
}

.profile-container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin-left 0.3s ease;
}

#profpic {
    width: 15.625rem;
}

.profile-text {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
}

.edit-btn {
    margin: 0.5rem;
}

@media (max-width:768px) {
    .profile-container {
        width: 100%;
    }
}

@media(max-width:540px) {
    .profile-container {
        padding: 2rem;
    }

    #profpic {
        width: 10rem;
    }

    .profile-text {
        font-size: 0.8rem;
    }

    .buttons {
        flex-direction: column;
    }
}