p {
    min-width: 30rem;
    max-width: 30rem;
}

.main-container {
    width: 100%; 
    margin-top:5vh; 
    padding-left:4rem; 
    padding-right: 4rem;
}

.form-control:focus {
    border-color: #28a745 !important;
}

.project-list {
    background-color : white;
    border-radius: 25px;
    margin: 3% 0;
    padding: 2em 2em;
    width: 95%;
    min-width: 13rem;
}

.project-header {
    display:flex;
}

.toggle-status {
    margin-left: auto;
}

.add-proj-img {
    height: 25vh;
    min-height: 0;
}

.add-proj-cont {
    margin: 12vh auto;
    text-align:center;
    align-items: center;
    width:80%;
}

.add-proj-cont p {
    min-width: unset;
    max-width: unset;
}

.flex-container {
    display:flex;
    width:100%;
    margin:0;
}

.filter {
    background-color : white;
    border-radius: 25px;
    margin: 3% 0;
    padding: 2em 2em;
    align-self:flex-start;
    min-width:15rem;
    max-width:20%;
    margin-left:0;
}

.filter-choice {
    display: flex;
    flex-direction: column;
}

.act-btns {
    margin:auto; 
    width:100%;
    text-align: center;
}

ul {
    list-style-type: none;
    width:80%;
    padding-left:0;
    padding-right:0;
}

/* Slider css */
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    float: right;
}

.switch-lbl {
    cursor: pointer;
    width: 7.5rem;
    height: 1.5rem;
    text-align: center;
    background: #FFA07A;
    display: block;
    border-radius: 20px;
    position: relative;
}

.switch-lbl:after {
    content: '';
    position: absolute;
    top: 0.15rem;
    left: 0.15rem;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

input:checked + .switch-lbl {
    background: #ADD8E6;
}

input:checked + .switch-lbl:after {
    left: calc(100% - 0.15rem);
    transform: translateX(-100%);
}

.switch-lbl:active:after {
    width: 1rem;
}

@media (max-width: 375px) {
    .main-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .flex-container {
        padding: 0 auto;
    }
    li {
        display:flex;
    }
    .project-list {
        margin-left: 0;
        margin-right: 0;
        align-self: center;
        min-width:0;
    }
    p {
        min-width: 0;
    }
}

@media (max-width: 540px) {
    .project-header {
        flex-direction: column;
    }

    .toggle-status {
        margin-left: unset;
        margin-top : 2%;
    }
}

@media (max-width: 1160px) {
    .flex-container {
        flex-direction:column-reverse;
    }

    .filter {
        align-self: center;
    }

    .filter-choice {
        flex-direction: row;
        align-items: center;
        gap: 5%;
    }

    .project-list {
        width: 100%;
    }

    .act-btns {
        text-align: left;
    }

    ul {
        width: 100%;
    }

    li {
        margin: 0;
    }
}