.rab-container {
    transition: margin-left 0.3s ease;
}

.progres-section {
    width: 65rem;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    align-items: center!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
}

.rab-info {
    display: flex;
    justify-content: space-between;
    width: 96%;
}
.rab-info .left {
    text-align: left;
}
.rab-info .right {
    text-align: right;
}

.progress-bar {
    background-color: #228B22;
}

.custom-btn {
    background-color: #FFD700;
    border-color: #FFD700;
    color: black;
    width: 16rem;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.custom-btn:hover {
    transform: scale(1.1);
    background-color: #FFD700;
    border-color: #FFD700;
    color: black;
}
