@tailwind base;
@tailwind components;
@tailwind utilities;

.error-msg {
    color:red;
    margin-bottom: 0;
}

.main-container {
    overflow-x: hidden;
    width: 100%;
}

.rab-container {
    overflow: hidden;
    padding-left: 18rem;
    padding-top: 5rem;
    margin-bottom: 15vh;
    transition: margin-left 0.3s ease;
    width: 100%;
}

.pagination-container {
    width: 70%;
    margin: auto;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pagination-container::-webkit-scrollbar {
    display: none;
}

@media(max-width:768px) {
    .rab-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-top: 8rem;
    }
}
