.error-msg {
    color:red;
}

.rab-container {
    padding-left: 15rem;
    padding-top: 15vh;
    margin-bottom: 15vh;
    transition: margin-left 0.3s ease;
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {
    .rab-container {
        padding-left: 0vw;
    }
}
